@font-face {
    font-family: 'Portofino';
    src: local('Portofino Bold'), local('Portofino-Bold'),
        url('Portofino-Bold.woff2') format('woff2'),
        url('Portofino-Bold.woff') format('woff'),
        url('Portofino-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }